
Exercicios/.ipynb_checkpoints/Cap 5 - Aprendizado Supervisionado-checkpoint.ipynb
Exercicios/.ipynb_checkpoints/Cap 2 - Comandos Básicos em Python-checkpoint.ipynb
Aulas/.ipynb_checkpoints/Cap 2 - Comandos Basicos em Python-checkpoint.ipynb
Aulas/.ipynb_checkpoints/Cap 3 - Numpy-checkpoint.ipynb
Aulas/.ipynb_checkpoints/Cap 4 - Representacao de Dados-checkpoint.ipynb
Exercicios/.ipynb_checkpoints/Cap 3 - Numpy-checkpoint.ipynb
Exercicios/.ipynb_checkpoints/Cap 5 - Aprendizado Supervisionado-Copy1-checkpoint.ipynb
Exercícios Resolvidos/.ipynb_checkpoints/Cap 3 - Numpy - Resolvido-checkpoint.ipynb
Exercícios Resolvidos/.ipynb_checkpoints/Cap 2 - Comandos Básicos em Python - Resolvido-checkpoint.ipynb
Aulas/.ipynb_checkpoints/Cap 5 - Aprendizado Supervisionado-checkpoint.ipynb
Scripts/.ipynb_checkpoints/Cap 2 - Comandos Basicos em Python-checkpoint.ipynb
Scripts/.ipynb_checkpoints/Cap 3 - Numpy-checkpoint.ipynb
Scripts/.ipynb_checkpoints/Cap 4 - Representacao de Dados-checkpoint.ipynb
Soluções/.ipynb_checkpoints/Cap 3 - Numpy - Resolvido-checkpoint.ipynb
Soluções/.ipynb_checkpoints/Cap 2 - Comandos Básicos em Python - Resolvido-checkpoint.ipynb
Scripts/.ipynb_checkpoints/Cap 5 - Aprendizado Supervisionado-checkpoint.ipynb
Scripts/.ipynb_checkpoints/Cap 04 - Representacao de Dados-checkpoint.ipynb
